__pycache__/
*.py[cod]
*.log
*.pot
*.pyc


.venv/
venv/
env/


media/
staticfiles/


*.sql
*.dump


.env
.env.*
.env.local


frontend/node_modules/
frontend/dist/
frontend/build/
node_modules/
dist/

npm-debug.log*
yarn-debug.log*
yarn-error.log*


.vscode/
.idea/


.DS_Store
Thumbs.db


*.swp
*.bak